# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.Python
env/
venv/
.env
*.sqlite3

# Django
staticfiles/
media/
*.mo
*.pot

# Node / Next
node_modules/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

.venv
.env
